<div class="tabs-container">
    <mat-tab-group headerPosition="below" mat-stretch-tabs="false" mat-align-tabs="center" class="asd">
        <mat-tab label="Home">
            <ng-template mat-tab-label>
                <div class="tab-icon-container">
                    <mat-icon>home</mat-icon>
                    Home
                </div>
            </ng-template>
            <home></home>
        </mat-tab>
        <mat-tab label="Exchange">
            <ng-template mat-tab-label>
                <div class="tab-icon-container">
                    <mat-icon>paid</mat-icon>
                    Exchange
                </div>
            </ng-template>
            <exchange></exchange>
        </mat-tab>
        <mat-tab label="Map">
            <ng-template mat-tab-label>
                <div class="tab-icon-container">
                    <mat-icon>location_on</mat-icon>
                    Map
                </div>
            </ng-template>
            <map></map>
        </mat-tab>
        <mat-tab label="Settings">
            <ng-template mat-tab-label>
                <div class="tab-icon-container">
                    <mat-icon>settings</mat-icon>
                    Settings
                </div>
            </ng-template>
            <settings></settings>
        </mat-tab>
    </mat-tab-group>

</div>